* {
  box-sizing: border-box;
}

html {
  min-width: 320px;
  background: #080909;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: #080909;
}

button,
input,
textarea,
select {
  font: inherit;
}

button {
  border: 0;
}

#root {
  min-height: 100vh;
}